@font-face {
  font-family: 'Engraver GT';
  src: url('../dist/fonts/Engravers_Gothic_Regular.otf');
}
  
.reservationForm {
  margin-bottom: 17px;
  border-top: 1px solid #DDDDDD;
  display: block;
  clear: both;
}
.zipCodeWrapper {
  box-sizing: border-box;
  display: inline-block;
  margin: 21px 0;
  padding-right: 11.2%;
  width: 60%; 
}
.destinationZip , .rentableForm{
  display: block;
  font-family: 'Engraver GT';
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 18px;
  margin-bottom: 7px;
  color: #333333;
}
.reservationZip, .rentableSize, .datePicker {
  box-sizing: border-box;
  display: block;
  height: 44px;
  line-height: 30px;
  padding: 5px 10px;
  width: 207.891px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: rgb(51, 51, 51);
  border: 1px solid #DDDDDD;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
}
.rentableSize {
  background-image: url(../dist/icons/dropdown.png) ;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-attachment: fixed;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: rgb(255, 255, 255);
  background-origin: padding-box;
  background-size: 12px;
  overflow: hidden;
}

.reservationZip:focus {
  border: 1px solid rgb(51, 51, 51);
}
.rentableSize:focus {
  border: 1px solid rgb(51, 51, 51);
}
.datePicker:focus {
  border: 1px solid rgb(51, 51, 51);
}
.size {
  display: inline-block;
  padding-right: 1.2%;
}
.sizebackup{
  display: inline-block;
}

.sizeRefTable {
  display: block;
  padding: 10px 0 0;
  text-align: right;
}
.sizeRefButton {
  cursor: pointer;
  outline: none;
  font-family: 'Engraver GT';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: inherit;
  line-height: 100%;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid;
  display: inline-block;
}
.reservationDateWindow {
  margin: 15px 0;
  border: 0;
  padding: 0.15px 0 0;
  display: block;
  height: 80px;
  font-family: 'Engraver GT';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: inherit;
}
.labelReservationDateWindow_legend {
  display: block;
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 12px;
}
.reservationDateWindow_durations {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  height: 49.432px;
}
.reservationDateWindow_date {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  margin: 0;
}

.radioContainter {
  display: block;
  position: relative;
  justify-content: left;
  height: 19px;
  margin-bottom: 7px;
  cursor: pointer;
}
.radioContainter input {
  opacity: 0;
}
.checkmark {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  border: 1px solid #333333;
  cursor: default;
}
//When the radio button is checked, add a white background
.radioContainter input:checked ~ .checkmark {
  background-color: white;
}
// Create the indicator (the dot/circle - hidden when not checked)
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
//Show the indicator (dot/circle) when checked
.radioContainter input:checked ~ .checkmark:after {
  display: block;
}
//Style the indicator (dot/circle) 
.radioContainter .checkmark:after {
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: rgb(197, 149, 109);
}

.radioWord {
  display: inline;
  position: relative;
  left:15px
}

//not used ?
.datepickerLabel {
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  display: block;
  margin-bottom: 7px;
}
.datePicker {
  width: 98%;
  background-image: url(../dist/icons/calendar.png) ;
  background-size: 28px;
  background-repeat: no-repeat;
  background-position: 95% 52%;
  background-attachment: fixed;
  background-attachment: scroll;
  -webkit-animation: none;
  -webkit-appearance: none;
}

.ctaContainer {
  display: block;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  line-height: 20px;
  color: #333333;
}
.pro_cta {
  display: block;
  background-color: #F4EDE5;
  margin: 20px 0;
  padding: 15px 70px 0 15px;
  position: relative;
  overflow: hidden;
  letter-spacing: 0;
  font-size: 13px;
}
.includeProHidden {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  border: initial;
  display: none;
  -webkit-rtl-ordering: logical;
  -webkit-writing-mode: horizontal-tb !important;
}
.includeProCheckbox {
  display: block;
  position: relative;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.includeProCheckbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
// Create a custom checkbox 
.includeProSpan {
  position: absolute;
  top: 3px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: white;
  border: 1px solid black;
}
/* When the checkbox is checked, add a blue background */
.includeProCheckbox input:checked ~ .includeProSpan {
  background-color: white;
}
/* Create the checkmark/indicator (hidden when not checked) */
.includeProSpan:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.includeProCheckbox input:checked ~ .includeProSpan:after {
  display: block;
}

/* Style the checkmark/indicator */
.includeProCheckbox .includeProSpan:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 9px;
  border: solid rgb(197, 149, 109);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}

.proLabel {
  line-height: 18px;
  text-transform: none;
  letter-spacing: 0;
  padding-left: 28px;
  cursor: pointer;
}
.standAlone {
  position: relative;
  left:28px;
  font-family: 'Engraver GT';
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: inherit;
  line-height: 100%;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  display: inline-block;
  margin: 0 0 15px 8px;
  cursor: pointer;
  background: transparent;
  outline: none;
}
.labelPRO {
  height: 47px;
  width: 39.5px;
  background: url(../dist/icons/prolabel.png) no-repeat;
  background-size: 39.5px;
  position: absolute;
  right: 15px;
  top: 0;
}
.btnFullWidth {
  margin: 15px 0 0;
  display: block;
  width: 100%;
  color: #FFFFFF;
  background-color: #333333;
  font-family: 'Engraver GT';
  font-size: 14px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  outline: none;
  text-align: center;
  white-space: nowrap;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 43px;
  height: 44px;
  padding: 0 30px;
  text-transform: uppercase;
}
.btnFullWidth:focus {
  outline: none;
}