@font-face {
  font-family: 'Engraver GT';
  src: url('../dist/fonts/Engravers_Gothic_Regular.otf');
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../dist/fonts/Proxima_Nova_Reg.ttf');
}
@font-face {
  font-family: 'Proxima Nova-Bold';
  src: url('../dist/fonts/Proxima-Nova-Bold.otf');
}

@media only screen and (max-width: 768px) and (min-width: 481px){
  .pdpWide_primary  {
    max-width: 300px;
    margin-right: 25%;
  }
  .pdpHeader_infoTop {
    margin-top: -1.2em;
  }
}
// =============
.pdpWide_primary {
    position: relative;
    width: 426px;
    float: right;
}

.pdpHeader_infoTop {
  display: -webkit-flex; /* Safari 6.1+ */
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}

.heart {
  cursor: pointer;
}

.heart_buttonMinimal {
  border: 0;
  color: transparent;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  width: 50px;
  outline: none;
}
.like {
  width: 22px;
  height: 18px;
  display: inline-block;
  margin-right: 1ex;
  vertical-align: middle;
}

.pdpHeader_displayName {
  font-family: 'Proxima Nova';
  font-size: 13px;
  margin-bottom: 14px;
}

.h3 {
  font-size: 28px;
  font-family: Genath-Regular, serif;
  font-weight: inherit;
  line-height: 1.2em;
  margin: 0;
}

.pdpPrice {
  zoom: 1;
  float: left;
  position: relative;
}
.pdpPrice_price {
  color: #999999;
  margin-bottom: 0;
  padding-top: 5px;
  display: inline-block;
  line-height: 20px;
  margin-top: 0;
// .pdpPrice_priceRental {
  font-family: 'Proxima Nova';
  font-size: 18px;
  margin-right: 10px;
}

.productPriceOriginal {
  font-family: 'Proxima Nova-Bold';
  color: #333333;
}
.pdpPrice_priceType {
  font-size: 13px;
  padding-left: 4px;
  color: #333333;
  display: inline-block;
}
.questionButton{
  width: 39px;
  height: 17px;
  border: 0;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  background: url('../dist/icons/question.png') no-repeat;
  background-size: 16px;
  background-position: 50% 50%;
}
.questionButton:focus{
  outline: white;
}
.tooltiptext {
  visibility: hidden;
  background: #FFFFFF;
  position: absolute;
  bottom: 100%;
  left: 10%;
  border: 1px solid #333333;
  padding: 15px;
  text-align: center;
  z-index: 10;
  width: 248px;
}
.description {
  margin: 0px;
  float: left;
  width: 185px;
  height: 30px;
  text-align: left;
  font-family: 'Proxima Nova';
  font-size: 13px;
  line-height: 15px;
  color: #333333;
}
.descExit {
  float: right;
  height: 100%;
  cursor: pointer;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  text-transform: none;
  margin: 0;
  padding: 0;
  color: #333333
}
.tooltiptext::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 44%;
  border-style: outset;
  border-width: 10px;
  border-style: solid;
  border-color: #333333 transparent transparent transparent;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 45%;
  border-style: outset;
  border-width: 8px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.questionButton:focus + .tooltiptext {
  visibility: visible;
  outline: none;
}
.pdpPrice_noDiscount {
  padding-left: 10px;
  padding-right: 10px;
  width: 19px;
  height: 19px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.gridProductCardPrice {
  padding-left: 10px;
  color:rgb(153, 153, 153);
  display:inline-block;
  font-size: 13px;
  height: 18px;
  letter-spacing: normal;
  line-height: 18px;
}
